#footer{
    background-color: #e2acf1;
    grid-column: 4/4;
    grid-row: 4/2;
    padding: 10px;
    color: white;
}
.formato-footer{
    display: inline-block;
    color: white;
    border-collapse: collapse;
    padding: 20px;
}
.iconos-footer{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.centrado{
    text-align: center;
}