font{
    font-family: 'Pacifico', cursive;
}
#header{
    background-color: #e2acf1;
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 10px;
    color: white;
}
.logo{
    width: 50px;
}
.texto{
    margin: 0px;
    text-align: center;
}
header > div{
    display: inline-block;
    width: 300px;
}