.modo-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:
        minmax(150, auto) minmax(200px, auto)
        minmax(400px, auto) minmax(150, auto);
    
    grid-template-areas: 
    "Header     Header  Header"
    "Nav        Section Aside"
    "Nada       Section Aside"
    "Footer     Footer  Footer";
    gap: 10px;
    margin: 0 auto;
    width: 980px;

}
header{
    grid-area: Header;
    /*background-color: #f6e5f5;*/
    background-color: #e2acf1;
}
nav{
    grid-area: Nav;
    /*background-color: #fbf4f9;*/
    background-color: #333333 ;
}
section{
    grid-area: Section;
   /* background-color: #f6e7e6;*/
   background-color: #ffffff;
}
aside{
    grid-area: Aside;
    /*background-color: #fbf4f9;*/
    background-color: #333333;
}
footer{
    grid-area: Footer;
    /*background-color: #f6e5f5;*/
    background-color: #e2acf1;
}